<header>
    <div class="header-content">
      <div class="logo"></div>
      <div class="heading">Sri Shankara Peetham</div>
      <div class="picture"></div>
    </div>
    <div class="buttons">
      <button><a routerLink="/">Home</a></button>
      <button><a routerLink="/services">Services</a></button>
      <button><a routerLink="/priest">About Priest</a></button>
      <button><a routerLink="/about">About Us</a></button>
      <button><a routerLink="/gallery">Gallery</a></button>
      <button><a routerLink="/contact">Contact</a></button>
    </div>
  </header>
  