<footer>
    <div class="footer-content">
        <div class="left-section">
            <h2>QUICK LINKS:</h2>
            <ul class="footer-menu">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/services">Services</a></li>
                <li><a routerLink="/priest">About Priest</a></li>
                <li><a routerLink="/about">About Us</a></li>
                <li><a routerLink="/gallery">Gallery</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="middle-section">
            <header>
                <h2>Sankalpam in USA</h2>
                <p>Sri maha vishnu raagnaya, pravarta manasya, aadya brahmanaha, dwiteeya parardhe, sweta varaha kalpe, vivaswata manwantare, kaliyuge, pradhama paade, KROWNCHA (land of Eagle) dweepe, Ramanaka Varshe, Indra khande (emipre of Indra), Ramyaka Paschimadese (western country), Sapta samudrantare, Lakshmi Nivasa Gruhe</p>
            </header>
            <h2>Contact US</h2>
            <ul class="contact-menu">
                <li>Sri Shankara Peetham</li>
                <li>Address: 1466 Selam Creek Dr Apex NC 27502 </li>
                <li><i class="bi bi-telephone-fill"></i> 1 (919) 924-4292</li>
                <li><i class="bi bi-envelope-fill"></i> info<span>&#64;</span>sripeetham.org</li>
               
            </ul>
        </div>
        <div class="right-section">
            <h2>Follow Us:</h2>
            <div class="social-buttons">
                <button class="whatsapp"></button>
                <button class="instagram"></button>
                <button class="youtube"></button>
                <button class="facebook"></button>
            </div>
            
        </div>
    </div>
</footer>
