/* Footer Styles */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
footer {
    background-image: url('images/Banner-bg.jpg'); /* Replace 'path/to/footer-background.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
   
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    flex: 1;
    margin-left: 15%;
    text-align: left;
}

.middle-section {
    margin-top: -1%;
    flex: 2;
}

.right-section {
    flex: 1;
    text-align: right;
}
.middle-section header {
    background-image: url('images/b-flower.png');
    
    background-size: 50% auto; /* Adjust background size as needed */
    background-position: center 25px; /* Adjust background position as needed */
    background-repeat: no-repeat;
}
/* Styles for the middle section */
.middle-section header h2 {
    font-weight: bold; /* Make the main heading bold */
    color: rgb(255, 183, 0); /* Set the text color of the main heading */
}

.middle-section p {
    margin-top: 10px; /* Add some space between the heading and the paragraph */
    font-size: 16px; /* Set the font size of the paragraph */
    line-height: 1.6; /* Set the line height of the paragraph */
}

.right-section {
    flex: 1;
    margin-right: 15%;
    text-align: right;
}

.footer-menu, .social-icons {
    list-style: none;

    padding: 0;
}

.footer-menu li{
    margin: 5px 5px; /* Added margin to create space between menu items */
    display: inline-block; /* Display items horizontally */
    font-size: 18px;
    width: calc(50% - 10px);
}
.social-icons li {
  
    margin: 0 10px;
    
}

.footer-menu li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold; /* Added to make menu items bold */
    
    padding: 10px 20px; /* Added padding to menu items */
    border-radius: 5px; /* Added border radius to menu items */
    transition: background-color 0.3s; /* Added transition effect */
}
.social-icons li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; /* Added to make menu items bold */
    
    padding: 10px 20px; /* Added padding to menu items */
    border-radius: 5px; /* Added border radius to menu items */
    transition: background-color 0.3s; /* Added transition effect */
}

.footer-menu li a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1); /* Added hover background color */
}
.social-icons li a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1); /* Added hover background color */
}

h2 {
    font-weight: bold; /* Added to make the heading bold */
    color: rgb(14, 232, 25);
    font-family: Arial, sans-serif;
}
.contact-menu {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.contact-menu li {
    margin-bottom: 10px; /* Add some space between each list item */
}

.contact-menu li:last-child {
    margin-bottom: 0; /* Remove bottom margin from the last item */
}

.contact-menu li:first-child {
    font-weight: bold; /* Make the first list item bold */
    font-size: 24px;
    color: rgb(255, 183, 0);

}

.contact-menu li:not(:first-child) {
    font-size: 18px;
    color: #ffffff;/* Change color of all list items except the first one */
}

.contact-menu li:not(:first-child)::before {
    content: "•"; /* Add bullet point before each list item except the first one */
    margin-right: 5px; /* Add some space between the bullet point and the text */
}

  
.social-buttons {
    display: flex;
    margin-right: -90%;
    justify-content: center;
}

.social-buttons button {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color: transparent; 
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    margin: 5px; /* Adjust margin as needed */
}

.whatsapp {
    background-image: url('images/instagram_icon.png'); /* Replace with the path to your WhatsApp icon image */
}

.instagram {
    background-image: url('images/youtube_icon.png'); /* Replace with the path to your Instagram icon image */
}

.youtube {
    background-image: url('images/Facebook_Logo.png'); /* Replace with the path to your YouTube icon image */
}
.facebook {
    background-image: url('images/whatsapp_icon.png'); /* Replace with the path to your YouTube icon image */
}


@media only screen and (max-width: 1000px) {
    .footer-menu li,
    .social-icons li {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .middle-section header {
        background-size: 70% auto; /* Adjust background size for smaller screens */
        font-size: 20;
    }
    .social-buttons {
        display: flex;
        margin-right: 0%;
        justify-content: center;
    }
    
    .social-buttons button {
        width: 40px; /* Adjust width as needed */
        height: 40px; /* Adjust height as needed */
        background-color: transparent; 
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        margin: 5px; /* Adjust margin as needed */
    }
    .left-section {
        flex: 1;
        margin-left: 0%;
        text-align: left;
    }
    .left-section {
        flex: 1;
        margin-left: 0%;
        text-align: left;
    }
    h2 {
        font-size: 20px;
        font-weight: bold; /* Added to make the heading bold */
        color: rgb(14, 232, 25);
        font-family: Arial, sans-serif;
    }
   
}
@media only screen and (max-width: 600px) {
    .footer-menu li,
    .social-icons li {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .middle-section header {
        background-size: 70% auto; /* Adjust background size for smaller screens */
        font-size: 12;
    }
    .social-buttons {
        display: flex;
        margin-right: 0%;
        justify-content: center;
    }
    
    .social-buttons button {
        width: 20px; /* Adjust width as needed */
        height: 20px; /* Adjust height as needed */
        background-color: transparent; 
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        margin: 5px; /* Adjust margin as needed */
    }
    .left-section {
        flex: 1;
        margin-left: 0%;
        text-align: left;
    }
    .left-section {
        flex: 1;
        margin-left: 0%;
        text-align: left;
    }
    h2 {
        font-size: 20px;
        font-weight: bold; /* Added to make the heading bold */
        color: rgb(14, 232, 25);
        font-family: Arial, sans-serif;
    }
    
}
@media only screen and (max-width: 450px) {
    .footer-menu li,
    .social-icons li {
        font-size: 8px; /* Adjust font size for smaller screens */
    }

    .middle-section header {
        margin-right: -5%;
        background-size: 70% auto; /* Adjust background size for smaller screens */
        font-size: 7;
    }
    .social-buttons {
        display: flex;
        margin-right: -30%;
        justify-content: center;
    }
    
    .social-buttons button {
        width: 14px; /* Adjust width as needed */
        height: 14px; /* Adjust height as needed */
        background-color: transparent; 
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: -10%;
        border: none;
        margin: 2px; /* Adjust margin as needed */
    }
    .left-section {
        flex: 1;
        margin-left: 0%;
        text-align: left;
    }
    .left-section {
        flex: 1;
        margin-left: 0%;
        text-align: left;
    }
    h2 {
        font-size: 12px;
        font-weight: bold; /* Added to make the heading bold */
        color: rgb(14, 232, 25);
        font-family: Arial, sans-serif;
    }
    .contact-menu li {
        margin-bottom: 10px; /* Add some space between each list item */
    }
    
    .contact-menu li:last-child {
        margin-bottom: 0; /* Remove bottom margin from the last item */
    }
    
    .contact-menu li:first-child {
        font-weight: bold; /* Make the first list item bold */
        font-size: 12px;
        color: rgb(255, 183, 0);
    
    }
    
    .contact-menu li:not(:first-child) {
        font-size: 12px;
        color: #ffffff;/* Change color of all list items except the first one */
    }
    
    .contact-menu li:not(:first-child)::before {
        content: "•"; /* Add bullet point before each list item except the first one */
        margin-right: 5px; /* Add some space between the bullet point and the text */
    }
    .middle-section p {
        margin-top: 10px; /* Add some space between the heading and the paragraph */
        font-size: 10px; /* Set the font size of the paragraph */
        line-height: 1.6; /* Set the line height of the paragraph */
    }
    
    
} 