
<!-- your-component.component.html -->
<div class="daran"></div>
<div class="background-image-div">

    <div class="left-background-image"></div>
    <div class="right-background-image"></div>
    <div>
      <button class="top-button"><a routerLink="/book">BOOK POOJA SERVICE</a></button>
      <button class="top-button"><a routerLink="/prasadamBooking">PRASADAM BOOKING</a></button>
      <button class="top-button"><a routerLink="/shaadhamBooking">SHAADHAM BOOKING</a></button>
    </div><br><br><br>
    <div class="inside-img">
       

        <h2>Contact Us</h2>
        <div class="image"></div>
        <h6 class="subheader"> Sri Shankara Peetham </h6>
        <p>
            <a class="addresstext"> Address 1466 Salem Creek Dr<br>Apex NC 27502</a>
        </p>
        <p>
            <i class="bi bi-telephone"id="phone-img"></i> <a class="addresslink" href="tel:+1 (919) 924-4292" > ​+1 (919) 924-4292</a>
        </p>
        <p>
            <i class="bi bi-envelope" id="mail-img"></i>  <a class="addresslink" data-href="" href="mailto:info@sripeetham.org"> info&#64;sripeetham.org</a>
        </p>
        <h4 class="maptext">Google map </h4>
        <div class="container">
            <div class="map-container">
              <iframe class="mapsize" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d809.7732445018183!2d-78.85964059999999!3d35.723931799999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac92bfe86568cd%3A0x5c2db2d153044a01!2s1466%20Salem%20Creek%20Dr%2C%20Apex%2C%20NC%2027502%2C%20USA!5e0!3m2!1sen!2sin!4v1706984718012!5m2!1sen!2sin"  allowfullscreen="" loading="lazy"></iframe>
            </div>

        <div >
            <div class="contacttxt " >
              <a href="https://wa.me/19199244292" target="_blank">
                <img class="contactimg" src="/assets/images/contactimg/whatsapp_icon.png" alt="" data-image-width="34" data-image-height="34">
              </a>
           
              
              <a href="https://www.instagram.com/srishankarapeetham?utm_source=qr&amp;igsh=MWgwZjNsbXM5Y2h0MA==" target="_blank">
                <img class="contactimg" src="./assets/images/contactimg/instagram_icon.png" alt="" data-image-width="34" data-image-height="35">
              </a>

           
            
              <a href="https://www.youtube.com/channel/UCEpDlmBABz-UnIkel__yxUA" target="_blank">
                <img class="contactimg" src="./assets/images/contactimg/youtube_icon.png" alt="" data-image-width="34" data-image-height="34">
              </a>
              
           
              <a href="https://www.facebook.com/profile.php?id=61556002803114" target="_blank">
                <img class="contactimg" src="./assets/images/contactimg/Facebook_Logo.png" alt="" data-image-width="34" data-image-height="34">
              </a>
              
            </div>
          </div>
          
          
    </div>
    
    
</div>

