
<!-- your-component.component.html -->
<div class="daran"></div>
<div class="background-image-div">

    <div class="left-background-image"></div>
    <div class="right-background-image"></div>
    <div>
        
        <button class="top-button"><a routerLink="/book">BOOK POOJA SERVICE</a></button>
        <button class="top-button"><a routerLink="/prasadamBooking">PRASADAM BOOKING</a></button>
        <button class="top-button"><a routerLink="/shaadhamBooking">SHAADHAM BOOKING</a></button>
    </div><br><br><br><br><br><br>
    <div class="inside-img">
        <iframe class="google-form" src="https://docs.google.com/forms/d/e/1FAIpQLSecadsL3WT0tQgS7PShHdF-Ca6Kah-y6OPh6G1j5ONEy4YMTA/viewform?embedded=true"  frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
       
    </div>
    
    
</div>

