
<!-- your-component.component.html -->
<div class="daran"></div>
<div class="background-image-div">

    <div class="left-background-image"></div>
    <div class="right-background-image"></div>
    <div>
    <button class="top-button"><a routerLink="/book">BOOK POOJA SERVICE</a></button>
    <button class="top-button"><a routerLink="/prasadamBooking">PRASADAM BOOKING</a></button>
    <button class="top-button"><a routerLink="/shaadhamBooking">SHAADHAM BOOKING</a></button>
    </div><br><br><br>
    <div class="inside-img">
       
        <h2>Pooja Services</h2>
        <div class="image"></div>
        <div class="pooja-services-container">
            <div class="pooja-service">
              
                <div>
                    <div class="container">
                       
                        <p>Ganapati Homam </p>  
                      </div>
                    </div>
             
                <div>
                    <div class="container">
                        <p>Rudra Abhishekam</p>  
                      </div>
                    </div>
                </div>
            <div class="pooja-service">
                <div>
                    <div class="container">
                     
                        <p>Maha Lingarchana</p>  
                      </div>
                    </div>
                <div>
                    <div class="container">
                       
                        <p>Ayushya Homam</p>  
                      </div>
                    </div>
                </div>


                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Satyanaraya Swamy vratam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Namakarana</p>  
                          </div>
                        </div>
                    </div>



                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Gruhapravesam and Homam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Kedareswara Vratam (Nomulu)</p>  
                          </div>
                        </div>
                    </div>





                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Vastu Shanthi</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Annaprasana</p>  
                          </div>
                        </div>
                    </div>




                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Navagraha Homam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Punyahavachanam</p>  
                          </div>
                        </div>
                    </div>




                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Navagraha Japam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Vedic Astrology Consultant (Marriage Purpose)</p>  
                          </div>
                        </div>
                    </div>



                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Nakshtra Shanti</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Vedic Astrology Consultant (General Purpose)</p>  
                          </div>
                        </div>
                    </div>



                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Mrityunjaya Homam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Vastu Consultant (with physical or by Plan)</p>  
                          </div>
                        </div>
                    </div>



                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Mrityunjaya Japam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Kaala Sarpa Dosha Nivarana Puja (Rahu & Kethu)</p>  
                          </div>
                        </div>
                    </div>




                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Bhoomi Puja</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Abdhikam (with Homam and 2 Brahmins for Bhajanam) with food package</p>  
                          </div>
                        </div>
                    </div>




                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Sri Sita Rama Kalyanam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Abdhikam (with Homam and 2 Brahmins for Bhajanam) without package</p>  
                          </div>
                        </div>
                    </div>





                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Sri Siva Parvati Kayanam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Rudra Abhishekam (with Mahanyasam 1 Rudram)</p>  
                          </div>
                        </div>
                    </div>



                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Sudarsana Homam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Rudra Abhishekam (with Mahanyasam 11 Rudram’s)</p>  
                          </div>
                        </div>
                    </div>


                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Upanayanam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Gruhapravesam and Homam and Satyanarayana Swamy Vratam</p>  
                          </div>
                        </div>
                    </div>


                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Vivaham (Wedding)</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p >Gruhapravesam (Just Dwara puja, Milk Boiling, Ganapathi Puja)</p>  
                          </div>
                        </div>
                    </div>

                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Chandi Homam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>MShasthi poorthi (60th Birthday)   </p>  
                          </div>
                        </div>
                    </div>

                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Sudarakanda Parayana (7 Days or 41 Days)</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Pashupatha Rudra Abhishekam (Ultimate & Unique Puja for Lord Shiva , Suggesting Priest or Astrologer only)</p>  
                          </div>
                        </div>
                    </div>



                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Nischitartham (Engagement)</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Nischitartham (Engagement and Lagna Patrika)</p>  
                          </div>
                        </div>
                    </div>



                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Mathsya Yanta Puja</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Nara Drusthi Nivarana Puja</p>  
                          </div>
                        </div>
                    </div>

                    <div class="pooja-service">
              
                        <div>
                            <div class="container">
                               
                                <p>Gruhapravesam and Homam and Satyanarayana Swamy Vratam and Inti Laggam (Kalyanam)</p>  
                              </div>
                            </div>
                     
                        <div>
                            <div >
                               
                              </div>
                            </div>
                        </div>
                    
                <div class="pooja-service" >
              
                    <div>
                        <div >
                           
                            <p></p>  
                          </div>
                          
                        </div>
                        
                 
                        
                    </div>
                    <p class="extra"> Whatever you give Donation to Sri Shankara Peetham, from your Donation,<br>we will give 10% to Go Seva &amp; Veda Pathasala( Vedic School ) in India <br>
                        <br>
                      </p>
                   
            <!-- Repeat the above structure for each pooja service up to 40 -->
        </div>
        
    </div>
    
    
</div>

