
<!-- your-component.component.html -->
<div class="daran"></div>
<div class="background-image-div">

    <div class="left-background-image"></div>
    <div class="right-background-image"></div>
    <div>
        <button class="top-button"><a routerLink="/book">BOOK POOJA SERVICE</a></button>
        <button class="top-button"><a routerLink="/prasadamBooking">PRASADAM BOOKING</a></button>
        <button class="top-button"><a routerLink="/shaadhamBooking">SHAADHAM BOOKING</a></button>
    </div><br><br><br>
    <div class="inside-img">
       
        <h2>About Us</h2>
        <div class="image"></div>
        <h6 class="subheader"> Sri Shankara Peetham </h6>
        <p> !! Abheda Darshanam Jnanam !!<br> (Unity in Diversity)<br>Sri Shankara Peetham<br>!! SHIVAYA VISHNU ROOPAYA - SHIVA ROOPAAYA VISHNAVE !!<br>SHIVASYA HRUDAYAM VISHNU -VISHNOSCHA HRUDAYAGUM SHIVAH !!<br>!! YATHAA SHIVAMAYO VISHNU - EVAM VISHNU MAYA SHIVAH !!<br>
        <h6 class="meantext"> Means:</h6>
        
        <p class="means">
            <span class="meanexptext">SHIVAYA </span>= shiva is, <span class="meanexptext">SHIVA ROOPAAYA&nbsp;VISHNAVE</span> = vishnu is in the form of shiva&nbsp;<br>
            <span class="meanexptext">SHIVASYA HRUDAYAM VISHNU</span> = shivas heart is vishnu , <span class="meanexptext">VISHNOSCHA HRUDAYAM 
    SHIVAH </span>= vishnus heart is shiva <span class="meanexptext">YATHAA SHIVAMAYO VISHNU </span>= however vishnu is full of shiva , <span class="meanexptext">EVAM VISHNU MAYA
    SHIVAH</span> = same shiva is vishnus formed.
          </p>
          <br>
          <br>
          <p class="meansexp"> We possess four ancient texts known as the Vedas, namely the Rig Veda, Yajur Veda, Sama Veda, and Atharva Veda. Additionally, we have six treatises called shastras, which include Nyaaya Shastra, Vyaakarana Shastra, Tarka Shastra, Vedanta Shastra, Poorva Mimasa Shastra, and Uttara Mimasa Shastra. Furthermore, we have SHADANGAA'S for the Vedas. It is important to note that all the Vedas and shastras emphasize the belief in one supreme being, Paramaatma. Our organization, Sri Hari Hara Peetham, is dedicated to imparting the profound knowledge contained within the Vedas to those who seek ultimate enlightenment. This is the reason behind the establishment of our&nbsp;organization. </p>

    </div>
    
    
</div>

