
<!-- your-component.component.html -->
<div class="daran"></div>
<div class="background-image-div">

    <div class="left-background-image"></div>
    <div class="right-background-image"></div>
    <div>
      <button class="top-button"><a routerLink="/book">BOOK POOJA SERVICE</a></button>
      <button class="top-button"><a routerLink="/prasadamBooking">PRASADAM BOOKING</a></button>
      <button class="top-button"><a routerLink="/shaadhamBooking">SHAADHAM BOOKING</a></button>
    </div><br><br><br>
    <div class="inside-img">
       

        <h2>Gallery</h2>
        <div class="image"></div>
        <div class="row">
          
              <div class="gallery">
                <div class="row" *ngFor="let rowIndex of getRows(); let i = index">
                  <div class="col" *ngFor="let imagePath of getImagesForRow(i)">
                    <img [src]="'assets/' + imagePath" alt="Gallery Image">
                  </div>
                </div>
              </div>
              
              
    </div>
    
    
</div>

