
<!-- your-component.component.html -->
<div class="daran"></div>
<div class="background-image-div">

    <div class="left-background-image"></div>
    <div class="right-background-image"></div>
    <div>
        <button class="top-button"><a routerLink="/book">BOOK POOJA SERVICE</a></button>
        <button class="top-button"><a routerLink="/prasadamBooking">PRASADAM BOOKING</a></button>
        <button class="top-button"><a routerLink="/shaadhamBooking">SHAADHAM BOOKING</a></button>
    </div><br><br><br>
    <div class="inside-img">
       
        <h2>About P​riest</h2>

        <div class="image"></div>
        <div class="pooja-services-container">
            <div class="left-content">
                <p>Priest Lalitha Krishna Sharma has dedicated more than 25 years of his life to serving as a Hindu Religious priest. Throughout his career, he has successfully performed countless pujas, homam's, and various religious ceremonies for people from diverse backgrounds across the globe. His extensive expertise and profound knowledge make him an invaluable asset to the Hindu Society.</p>
                <p>Lalitha Krishna Sharma ji is a highly esteemed and renowned priest in the RTP Area, which includes Raleigh, Cary, Apex, Holly Springs, Fuquay-Varina, Garner, Greensboro, Charlotte, and more. With an extensive track record, he has successfully conducted over 500 Gruhapravesams in the RTP Area, showcasing his vast experience in this field. Additionally, he has officiated more than 300 marriages and performed various other significant rituals such as Ganapati Homam, Satyanaraya Swamy Vratam, Chandi Homam, Rudra Abhishekam, Sudarsana Homam, Sri Rama Kalyanam, Shiva Kalyanam, Navagraha Japan, Nakshatra shanti, and many more.</p>
            </div>
            <div class="priest-image">
                <div class="priest-name">Lalitha Krishna Sharma</div>
            </div>
        </div>
      
            <div class="education">
                <h2>Education</h2>
                <p>Sri Lalitha Krishna Sharma ji developed a strong interest in Vedic teachings at a young age and enrolled in the prestigious Shri Sudharma Rakshana Parishad, an esteemed institution in Andhra Pradesh, to pursue Vedic learning. Under the guidance of Bramhasri Piratla Ramavadhani Garu and Bramhasri Vishnubhotla Anjaneya Sharma Garu, he received a comprehensive education in subjects like Krishna Yajurvedam, Panchadasa Karma, and Astrology. His dedication and expertise in Krishna Yajurveda earned him the title of "Vedabramha" from Sringeri Shankaracharya Maha Samsthanam in Karnataka. Additionally, he furthered his knowledge by studying Yajurveda Poorva and Apara Prayogam. Upon relocating to Hyderabad in 2001, he continued his education in Astrology and Vastu under the guidance of his father and various other Gurus.</p>
            </div>

            <div class="experience">
                <h2>Work Experience</h2>
                <ul>
                    <li><span class="year">2003:</span> Served as an Acharya for the Atirudra Mahayagam & Koti Kumkumaarchana at Sri Sringeri Sarada Peetham at Sringeri, Karnataka.</li>
                    <li><span class="year">2004:</span> Joined as a Vaidika Purohit for Sringeri Shankar Mutth in Nallakunta, Hyderabad.</li>
                    <li><span class="year">2007:</span> Conducted the Navaratri Puja as the Main Priest in Dubai.</li>
                    <li><span class="year">2008:</span> Participated as an Acharya for the Prana Pratistha of Sri Sringeri Sarada Temple in Stroudsburg, PA.</li>
                    <li><span class="year">2008:</span> Participated as an Acharya for the Ramakoti Maha yagna at Sri Siva Vishnu Temple in MD.</li>
                    <li><span class="year">2008:</span> Participated as an Acharya for the Sri Satya Saibaba 83rd Birthday celebrations, conducting Veda Havan, Sri Venkateswara Kalyanam, and Maha Rudra Yagam at Puttaparthi, Andhra Pradesh.</li>
                    <li><span class="year">2009:</span> Joined as a Hindu Priest for Sri Maha Lakshmi Temple in Springfield, IL.</li>
                    <li><span class="year">2010:</span> Conducted the TTD Sri Venkateswara Swami Kalyana Mahotsavam as the Main Priest in Bangkok, Thailand.</li>
                    <li><span class="year">2010:</span> Performed as the Main Priest for the Chandi Yagam in Hong Kong.</li>
                    <li><span class="year">2011:</span> Participated as an Acharya for the 60th Birth Celebrations of Sri Jagadguru Sringeri Sankaracharya Sri Bharati Teerthala Mahaswami Ji, conducting Atirudra Maha Yagam, Ayutha Chandi Maha Yagam, and Koti Kumkumaarchana.</li>
                    <li><span class="year">2011:</span> Joined as a Vaidika Hindu Priest for Sri Siva Vishnu Temple in MD (2011 - 2015).</li>
                    <li><span class="year">2014:</span> Participated as a Hindu Priest for Diwali Puja at the Maryland Governor's office with Governor Martin O'Malley and Indian Ambassador Jai Shankar.</li>
                    <li><span class="year">2016:</span> Joined as a Vaidika Hindu Priest for Sri Datta Sai Temple in San Ramon, CA (2016 - 2017).</li>
                    <li><span class="year">2017:</span> Served as an Acharya for Sri Sringeri Sarada Temple for Sri Shirdi Sai Baba Temple in Cary, NC (2017 - 2022).</li>
                    <li><span class="year">2022:</span> Currently providing Hindu Religious Services as a Freelance Priest in the RTP Area and throughout the USA and Canada.</li>
                    <!-- Add more work experience entries as needed -->
                </ul>
            </div>
            <div class="Awards">
                <h2>Awards</h2>
                <ul>
                    
                    <li>The Vedabramha was bestowed upon me by Sri Sringeri Sarada Peetham of Sringeri, Karnataka, in 2002.</li>
                    <li><span class="year">2004:</span>  I was honored with the Jyotishya Ratna and Veda Shastra Shiromani by the Abhinandada Sabha in Chikkadapalli, Hyderabad, India.</li>
                    <li><span class="year">2008:</span> The Bramhasri Award was presented to me by the Sri Sringeri Vidya Bharathi Foundation in PA, USA, in recognition of my achievements.</li>
                    
                    <!-- Add more work experience entries as needed -->
                </ul>
            </div>
            
    </div>
    
    
</div>

