/* your-component.component.css */

.daran {
    /* This sets the background image */
    background-image: url('images/background_pooja_services.png');
    background-size: 80%100%; /* Adjust to your needs */
    background-position: center; /* Adjust to your needs */
    /* Add more styling properties as needed */
  
    height: 150px; /* Set a height for your div */
}
.background-image-div {
    position: relative;
    background-image: url('images/Background_Theme_1.jpg');
    background-size: 100% 100%;
    background-position: center;
    font-family: Arial, sans-serif; 
    height: 1500px;
}


.left-background-image {
    position: absolute;
    top: 8%;
    left: -10%;
    width: 40%; /* Adjust as needed */
    height: 70%;
    background-image: url('images/Banana_Tree_rigth.png'); /* Specify the left image path */
    background-size: 100% 100%;
    background-position: center;
}

.right-background-image {
    position: absolute;
    top: 8%;
    right: -10%;
    width: 40%; /* Adjust as needed */
    height: 70%;
    background-image: url('images/Banana_Tree_left.png'); /* Specify the right image path */
    background-size: 100% 100%;
    background-position: center;
}

.inside-img {
    /* Set the background image */
    background-image: url('images/pooja_serices_bg3.jpg');
    /* Set background image size */
    background-size: 100% 100%;
    margin-left: 15%;
    text-align: center;
    color: #ffffff;
    /* Set background image position */
    background-position: center;
    /* Optional: Add more styling if needed */
    width: 70%; /* Adjust width if needed */
    height: 90%; /* Adjust height if needed */
  }
  .inside-img h2 {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}





.image {
    background-image: url('images/b-flower.png');
    background-position: center; /* Center the background image */
    background-size: 100% 100%; /* Cover the entire div */
    margin-left: 15%;
    width: 70%; /* Adjust width as needed */
    height: 250px; /* Adjust height as needed */
    margin-top: 60px; /* Add margin only to the top */
    background-size: 70% auto; /* Adjust background size as needed */
    background-position: center 90px; /* Adjust background position as needed */
    background-repeat: no-repeat;
}


.pooja-services-container {
    position: relative;
    display: flex;
    margin-top: -7%; /* Adjust as needed */
 
    left: 5%;
}

.left-content {
    margin-left: 2%;
    margin-right: 28%;
    font-size: 18px;
    flex: 1;
    padding: 9px; /* Adjust as needed */
    text-align: justify; /* Align text both left and right */
    text-indent: 0; /* Resetting text-indent */
    text-indent: 0; /* Resetting text-indent */
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}




.priest-image {
    position: absolute;
    top: 0;
    right: 11%; /* Adjust as needed */
    width: 220px;
    height: 300px;
    background-image: url('images/priest_img.jpg');
    background-size: cover;
    background-position: center;
}
.priest-name {
    display: inline-block;
    position: absolute;
    bottom: -40px; /* Adjust as needed */
    left: 50%; /* Place at the center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    white-space: nowrap; /* Prevent text wrapping */
    text-align: center; /* Center the text horizontally */
    color: #efba17; /* Text color */
    font-size: 28px; /* Font size */
    padding: 5px; /* Add some padding */
    font-family: "Arial", sans-serif;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); /* Shadow effect */
}


.education {
    padding: 20px;
   
}

.education h2 {
    font-size: 24px;
    color: #efba17; /* Text color */
    margin-top: 20%;
    margin-left: -27%; /* Adjust as needed */
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}


.education p {
    margin-left: 5%;
    font-size: 18px;
    flex: 1;
    padding: 20px; /* Adjust as needed */
    text-align: justify; /* Align text both left and right */
    text-indent: 0; /* Resetting text-indent */
    text-indent: 0; /* Resetting text-indent */
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.experience {

    padding: 20px;
  
}

.experience h2 {
    margin-top: 29%;
    font-size: 24px;
    margin-bottom: 10px;
    color: #efba17; /* Text color */
    margin-left: -25%; /* Adjust as needed */ 
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.experience ul {
    list-style-type: none;
    padding: 0;
}

.experience li {
    margin-top: -2%;
    margin-right: 2%;
    margin-left: 6%;
    text-align: justify; /* Align text both left and right */
    margin-bottom: 35px;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}
.year {
    color: #efba17; /* Change the color as needed */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}


.Awards {

    padding: 20px;
  
}

.Awards h2 {
    margin-top: 54%;
    font-size: 24px;
    margin-bottom: 10px;
    color: #efba17; /* Text color */
    margin-left: -25%; /* Adjust as needed */
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.Awards ul {
    list-style-type: none;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.Awards li {
    margin-top: -2%;
    margin-left: 11%;
    text-align: justify; /* Align text both left and right */
    margin-bottom: 35px;
}





/* your-component.component.css */

/* Assuming you have these two images */


@keyframes zoomIn {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.top-button {
    font-weight: bold;
    position: absolute;
    top: 40px;
    width: 270px;
    height: 50px;
    background-color: #b03838;
    border: 2px solid #b03838;
    color: #ffffff;
    border-radius: 20px;
    font-size: 20px; /* Increase the font size */
    cursor: pointer;
    text-align: center;
    padding: 5px 20px;
    transition: background-color 0.3s, color 0.3s;
    animation: zoomIn 1s infinite; /* Apply the zoomIn animation */
}


.top-button:nth-child(1) {
    left: 20%;
}

.top-button:nth-child(2) {
    left: 43%;
}

.top-button:nth-child(3) {
    left: 65%;
}

.top-button:hover {
    box-shadow: 0 0 20px rgba(220, 100, 100, 0.8); /* Glow effect on hover */
    animation: none; /* Disable the animation on hover */
}






.left-content {
    margin-left: 1%;
    margin-right: 28%;
    font-size: 14px;
    
}




.priest-image {
    
    right: 10.5%; /* Adjust as needed */
    width: 180px;
    height: 260px;
    
}
.priest-name {
    display: inline-block;
    position: absolute;
    bottom: -30px; /* Adjust as needed */
    left: 50%; /* Place at the center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    white-space: nowrap; /* Prevent text wrapping */
    text-align: center; /* Center the text horizontally */
    color: #efba17; /* Text color */
    font-size: 18px; /* Font size */
    padding: 5px; /* Add some padding */
    font-family: "Arial", sans-serif;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); /* Shadow effect */
}


.education {
    padding: 20px;
   
}

.education h2 {
    font-size: 18px;
    color: #efba17; /* Text color */
    margin-top: 25%;
    margin-left: -27%; /* Adjust as needed */
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}


.education p {
    margin-left: 3%;
    font-size: 14px;
    flex: 1;
    padding: 20px; /* Adjust as needed */
    text-align: justify; /* Align text both left and right */
    text-indent: 0; /* Resetting text-indent */
    text-indent: 0; /* Resetting text-indent */
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.experience {

    padding: 20px;
  
}

.experience h2 {
    margin-top: 36%;
    font-size: 18px;
    margin-bottom: 10px;
    color: #efba17; /* Text color */
    margin-left: -25%; /* Adjust as needed */ 
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.experience ul {
    list-style-type: none;
    padding: 0;
}

.experience li {
    font-size: 14px;
    margin-top: -2%;
    margin-right: 2%;
    margin-left: 6%;
    text-align: justify; /* Align text both left and right */
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}
.year {
    color: #efba17; /* Change the color as needed */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}


.Awards {

    padding: 20px;
  
}

.Awards h2 {
    margin-top: 70%;
    font-size: 24px;
    margin-bottom: 10px;
    color: #efba17; /* Text color */
    margin-left: -25%; /* Adjust as needed */
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.Awards ul {
    list-style-type: none;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.Awards li {
    font-size: 14px;
    margin-top: -2%;
    margin-left: 11%;
    margin-right: 8%;
    text-align: justify; /* Align text both left and right */
    margin-bottom: 30px;
}





/* your-component.component.css */

/* Assuming you have these two images */


@keyframes zoomIn {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.top-button {
    font-weight: bold;
    position: absolute;
    top: 40px;
    width: 250px;
    height: 45px;
    background-color: #b03838;
    border: 2px solid #b03838;
    color: #ffffff;
    border-radius: 20px;
    font-size: 16px; /* Increase the font size */
    cursor: pointer;
    text-align: center;
    padding: 5px 20px;
    transition: background-color 0.3s, color 0.3s;
    animation: zoomIn 1s infinite; /* Apply the zoomIn animation */
}
.top-button a {
    color: inherit; /* Inherit button's text color */
    text-decoration: none; /* Remove underline */
}

.top-button:nth-child(1) {
    left: 20%;
}

.top-button:nth-child(2) {
    left: 43%;
}

.top-button:nth-child(3) {
    left: 65%;
}

.top-button:hover {
    box-shadow: 0 0 20px rgba(220, 100, 100, 0.8); /* Glow effect on hover */
    animation: none; /* Disable the animation on hover */
}



@media screen and (max-width: 768px) {
    /* your-component.component.css */

.daran {
    /* This sets the background image */
    background-image: url('images/background_pooja_services.png');
    background-size:cover; /* Adjust to your needs */
    background-position: center; /* Adjust to your needs */
    /* Add more styling properties as needed */
  
    height: 100px; /* Set a height for your div */
}
.background-image-div {
    position: relative;
    background-image: url('images/Background_Theme_1.jpg');
    background-size: 100% 100%;
    background-position: center;
    font-family: Arial, sans-serif; 
    height: 1500px;
}


.left-background-image {
   display: none;
}

.right-background-image {
   display: none;
}

.inside-img {
    /* Set the background image */
    background-image: url('images/pooja_serices_bg3.jpg');
    /* Set background image size */
    background-size: 100% 100%;
    margin-left: 5%;
    text-align: center;
    color: #ffffff;
    /* Set background image position */
    background-position: center;
    /* Optional: Add more styling if needed */
    width: 90%; /* Adjust width if needed */
    height: 86%; /* Adjust height if needed */
  }
  .inside-img h2 {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.image {
    background-image: url('images/b-flower.png');
    background-position: center; /* Center the background image */
    background-size: 100% 100%; /* Cover the entire div */
    margin-left: 15%;
    width: 80%; /* Adjust width as needed */
    height: 250px; /* Adjust height as needed */
    margin-top: 40px; /* Add margin only to the top */
    background-size: 70% auto; /* Adjust background size as needed */
    background-position: center 90px; /* Adjust background position as needed */
    background-repeat: no-repeat;
}

.pooja-services-container {
    position: relative;
    display: flex;
    margin-top: -20%; /* Adjust as needed */
 
    left: 2%;
}

.left-content {
    margin-left: 2%;
    margin-right: 28%;
    font-size: 12px;
    flex: 1;
    padding: 9px; /* Adjust as needed */
    text-align: justify; /* Align text both left and right */
    text-indent: 0; /* Resetting text-indent */
    text-indent: 0; /* Resetting text-indent */
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}




.priest-image {
    position: absolute;
    top: 10%;
    right: 6%; /* Adjust as needed */
    width: 130px;
    height: 200px;
    background-image: url('images/priest_img.jpg');
    background-size: cover;
    background-position: center;
}
.priest-name {
    display: inline-block;
    position: absolute;
    bottom: -40px; /* Adjust as needed */
    left: 50%; /* Place at the center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    white-space: nowrap; /* Prevent text wrapping */
    text-align: center; /* Center the text horizontally */
    color: #efba17; /* Text color */
    font-size: 14px; /* Font size */
    padding: 5px; /* Add some padding */
    font-family: "Arial", sans-serif;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); /* Shadow effect */
}


.education {
    padding: 20px;
   margin-top: -5%;
}

.education h2 {
    font-size: 14px;
    color: #efba17; /* Text color */
    margin-top: 46%;
    margin-left: -35%; /* Adjust as needed */
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}


.education p {
    margin-left: -1%;
    font-size: 12px;
    flex: 1;
    padding: 20px; /* Adjust as needed */
    text-align: justify; /* Align text both left and right */
    text-indent: 0; /* Resetting text-indent */
    text-indent: 0; /* Resetting text-indent */
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.experience {

    padding: 20px;
  margin-top: -7%;
}

.experience h2 {
    margin-top: 70%;
    font-size: 14px;
    margin-bottom: 10px;
    color: #efba17; /* Text color */
    margin-left: -32%; /* Adjust as needed */ 
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.experience ul {
    list-style-type: none;
    padding: 0;
}

.experience li {
    font-size: 12px;
    margin-top: -2%;
    margin-right: 3%;
    margin-left: 3%;
    text-align: justify; /* Align text both left and right */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}
.year {
    color: #efba17; /* Change the color as needed */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}


.Awards {

    padding: 20px;
  
}

.Awards h2 {
    margin-top: 148%;
    font-size: 14px;
    margin-bottom: 10px;
    color: #efba17; /* Text color */
    margin-left: -25%; /* Adjust as needed */
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.Awards ul {
    list-style-type: none;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.Awards li {
    font-size: 12px;
    margin-top: -2%;
    margin-left: 14%;
    margin-right: 14%;
    text-align: justify; /* Align text both left and right */
    margin-bottom: 35px;
}




@keyframes zoomIn {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.top-button {
    font-weight: bold;
    position: absolute;
    top: 40px;
    width: 110px;
    height: 35px;
    background-color: #b03838;
    border: 2px solid #b03838;
    color: #ffffff;
    border-radius: 20px;
    font-size: 12px; /* Increase the font size */
    cursor: pointer;
    text-align: center;
    padding: 5px 20px;
    transition: background-color 0.3s, color 0.3s;
    animation: zoomIn 1s infinite; /* Apply the zoomIn animation */
}


.top-button:nth-child(1) {
    left: 20%;
}

.top-button:nth-child(2) {
    left: 43%;
}

.top-button:nth-child(3) {
    left: 65%;
}

.top-button:hover {
    box-shadow: 0 0 20px rgba(220, 100, 100, 0.8); /* Glow effect on hover */
    animation: none; /* Disable the animation on hover */
}

}

/* Extra styles for smaller screens like mobile phones */
@media screen and (max-width: 425px) {
   
.daran {
    /* This sets the background image */
    background-image: url('images/background_pooja_services.png');
    background-size:cover; /* Adjust to your needs */
    background-position: center; /* Adjust to your needs */
    /* Add more styling properties as needed */
  
    height: 100px; /* Set a height for your div */
}
.background-image-div {
    position: relative;
    background-image: url('images/Background_Theme_1.jpg');
    background-size: 100% 100%;
    background-position: center;
    font-family: Arial, sans-serif; 
    height: 2250px;
}


.left-background-image {
   display: none;
}

.right-background-image {
   display: none;
}

.inside-img {
    /* Set the background image */
    background-image: url('images/pooja_serices_bg3.jpg');
    /* Set background image size */
    background-size: 100% 100%;
    margin-left: 5%;
    text-align: center;
    color: #ffffff;
    /* Set background image position */
    background-position: center;
    /* Optional: Add more styling if needed */
    width: 90%; /* Adjust width if needed */
    height: 86%; /* Adjust height if needed */
  }
  .inside-img h2 {
    font-size: 20px;
    position: absolute;
    top: 7.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.image {
    background-image: url('images/b-flower.png');
    background-position: center; /* Center the background image */
    background-size: 100% 100%; /* Cover the entire div */
    margin-left: 15%;
    width: 80%; /* Adjust width as needed */
    height: 250px; /* Adjust height as needed */
    margin-top: 40px; /* Add margin only to the top */
    background-size: 70% auto; /* Adjust background size as needed */
    background-position: center 90px; /* Adjust background position as needed */
    background-repeat: no-repeat;
}

.pooja-services-container {
    position: relative;
    display: flex;
    margin-top: -20%; /* Adjust as needed */
 
    left: 2%;
}

.left-content {
    margin-top: 50%;
    margin-left: 2%;
    margin-right: 5%;
    font-size: 12px;
    flex: 1;
    padding: 9px; /* Adjust as needed */
    text-align: justify; /* Align text both left and right */
    text-indent: 0; /* Resetting text-indent */
    text-indent: 0; /* Resetting text-indent */
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}




.priest-image {
    position: absolute;
    top: -10%;
    right: 35%; /* Adjust as needed */
    width: 130px;
    height: 200px;
    background-image: url('images/priest_img.jpg');
    background-size: cover;
    background-position: center;
}
.priest-name {
    display: inline-block;
    position: absolute;
    bottom: -40px; /* Adjust as needed */
    left: 50%; /* Place at the center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    white-space: nowrap; /* Prevent text wrapping */
    text-align: center; /* Center the text horizontally */
    color: #efba17; /* Text color */
    font-size: 14px; /* Font size */
    padding: 5px; /* Add some padding */
    font-family: "Arial", sans-serif;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); /* Shadow effect */
}


.education {
    padding: 20px;
   margin-top: -5%;
}

.education h2 {
    font-size: 14px;
    color: #efba17; /* Text color */
    margin-top: 155%;
    margin-left: -31%; /* Adjust as needed */
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}


.education p {
    margin-left: -5%;
    margin-right: -5%;
    font-size: 12px;
    flex: 1;
    padding: 20px; /* Adjust as needed */
    text-align: justify; /* Align text both left and right */
    text-indent: 0; /* Resetting text-indent */
    text-indent: 0; /* Resetting text-indent */
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.experience {

    padding: 20px;
  margin-top: -7%;
}

.experience h2 {
    margin-top: 225%;
    font-size: 14px;
    margin-bottom: 20px;
    color: #efba17; /* Text color */
    margin-left: -24%; /* Adjust as needed */ 
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.experience ul {
    list-style-type: none;
    padding: 0;
}

.experience li {
    font-size: 12px;
    margin-top: -2%;
    margin-right: 3%;
    margin-left: 3%;
    text-align: justify; /* Align text both left and right */
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}
.year {
    color: #efba17; /* Change the color as needed */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}


.Awards {

    padding: 20px;
  margin-top: -9%;
}

.Awards h2 {
    margin-top: 398%;
    font-size: 14px;
    margin-bottom: 2px;
    color: #efba17; /* Text color */
    margin-left: -25%; /* Adjust as needed */
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.Awards ul {
    list-style-type: none;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
}

.Awards li {
    font-size: 12px;
    margin-top: -2%;
    margin-left: 14%;
    margin-right: 14%;
    text-align: justify; /* Align text both left and right */
    margin-bottom: 10px;
}




@keyframes zoomIn {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.top-button {
    font-weight: bold;
    position: absolute;
    top: 30px;
    width: 80px;
    height: 35px;
    background-color: #b03838;
    border: 2px solid #b03838;
    color: #ffffff;
    border-radius: 20px;
    font-size: 9px; /* Increase the font size */
    cursor: pointer;
    text-align: center;
    padding: 5px 20px;
    transition: background-color 0.3s, color 0.3s;
    animation: zoomIn 1s infinite; /* Apply the zoomIn animation */
}


.top-button:nth-child(1) {
    left: 8%;
}

.top-button:nth-child(2) {
    left: 38%;
}

.top-button:nth-child(3) {
    left: 68%;
}

.top-button:hover {
    box-shadow: 0 0 20px rgba(220, 100, 100, 0.8); /* Glow effect on hover */
    animation: none; /* Disable the animation on hover */
}
}

@media screen and (max-width: 350px) {
   
    .daran {
        /* This sets the background image */
        background-image: url('images/background_pooja_services.png');
        background-size:cover; /* Adjust to your needs */
        background-position: center; /* Adjust to your needs */
        /* Add more styling properties as needed */
      
        height: 100px; /* Set a height for your div */
    }
    .background-image-div {
        position: relative;
        background-image: url('images/Background_Theme_1.jpg');
        background-size: 100% 100%;
        background-position: center;
        font-family: Arial, sans-serif; 
        height: 2700px;
    }
    
    
    .left-background-image {
       display: none;
    }
    
    .right-background-image {
       display: none;
    }
    
    .inside-img {
        /* Set the background image */
        background-image: url('images/pooja_serices_bg3.jpg');
        /* Set background image size */
        background-size: 100% 100%;
        margin-left: 5%;
        text-align: center;
        color: #ffffff;
        /* Set background image position */
        background-position: center;
        /* Optional: Add more styling if needed */
        width: 90%; /* Adjust width if needed */
        height: 86%; /* Adjust height if needed */
      }
      .inside-img h2 {
        font-size: 20px;
        position: absolute;
        top: 7.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
    
    .image {
        background-image: url('images/b-flower.png');
        background-position: center; /* Center the background image */
        background-size: 100% 100%; /* Cover the entire div */
        margin-left: 15%;
        width: 80%; /* Adjust width as needed */
        height: 250px; /* Adjust height as needed */
        margin-top: 40px; /* Add margin only to the top */
        background-size: 70% auto; /* Adjust background size as needed */
        background-position: center 90px; /* Adjust background position as needed */
        background-repeat: no-repeat;
    }
    
    .pooja-services-container {
        position: relative;
        display: flex;
        margin-top: -20%; /* Adjust as needed */
     
        left: 2%;
    }
    
    .left-content {
        margin-top: 60%;
        margin-left: 2%;
        margin-right: 5%;
        font-size: 12px;
        flex: 1;
        padding: 9px; /* Adjust as needed */
        text-align: justify; /* Align text both left and right */
        text-indent: 0; /* Resetting text-indent */
        text-indent: 0; /* Resetting text-indent */
        font-weight: 500;
        text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
    }
    
    
    
    
    .priest-image {
        position: absolute;
        top: -10%;
        right: 35%; /* Adjust as needed */
        width: 130px;
        height: 200px;
        background-image: url('images/priest_img.jpg');
        background-size: cover;
        background-position: center;
    }
    .priest-name {
        display: inline-block;
        position: absolute;
        bottom: -40px; /* Adjust as needed */
        left: 50%; /* Place at the center horizontally */
        transform: translateX(-50%); /* Center horizontally */
        white-space: nowrap; /* Prevent text wrapping */
        text-align: center; /* Center the text horizontally */
        color: #efba17; /* Text color */
        font-size: 14px; /* Font size */
        padding: 5px; /* Add some padding */
        font-family: "Arial", sans-serif;
        text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); /* Shadow effect */
    }
    
    
    .education {
        padding: 20px;
       margin-top: -5%;
    }
    
    .education h2 {
        font-size: 14px;
        color: #efba17; /* Text color */
        margin-top: 206%;
        margin-left: -28%; /* Adjust as needed */
        text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
    }
    
    
    .education p {
        margin-left: -5%;
        margin-right: -5%;
        font-size: 12px;
        flex: 1;
        padding: 20px; /* Adjust as needed */
        text-align: justify; /* Align text both left and right */
        text-indent: 0; /* Resetting text-indent */
        text-indent: 0; /* Resetting text-indent */
        font-weight: 500;
        text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
    }
    
    .experience {
    
        padding: 20px;
      margin-top: -7%;
    }
    
    .experience h2 {
        margin-top: 320%;
        font-size: 14px;
        margin-bottom: 20px;
        color: #efba17; /* Text color */
        margin-left: -20%; /* Adjust as needed */ 
        text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
    }
    
    .experience ul {
        list-style-type: none;
        padding: 0;
    }
    
    .experience li {
        font-size: 12px;
        margin-top: -2%;
        margin-right: 3%;
        margin-left: 3%;
        text-align: justify; /* Align text both left and right */
        margin-bottom: 15px;
        text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
    }
    .year {
        color: #efba17; /* Change the color as needed */
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
    }
    
    
    .Awards {
    
        padding: 20px;
      margin-top: -9%;
    }
    
    .Awards h2 {
        margin-top: 590%;
        font-size: 14px;
        margin-bottom: 2px;
        color: #efba17; /* Text color */
        margin-left: -25%; /* Adjust as needed */
        text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
    }
    
    .Awards ul {
        list-style-type: none;
        padding: 0;
        text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 1); 
    }
    
    .Awards li {
        font-size: 12px;
        margin-top: -2%;
        margin-left: 14%;
        margin-right: 14%;
        text-align: justify; /* Align text both left and right */
        margin-bottom: 10px;
    }
    
    
    
    
    @keyframes zoomIn {
        0% { transform: scale(1); }
        50% { transform: scale(1.1); }
        100% { transform: scale(1); }
    }
    
    .top-button {
        font-weight: bold;
        position: absolute;
        top: 30px;
        width: 80px;
        height: 35px;
        background-color: #b03838;
        border: 2px solid #b03838;
        color: #ffffff;
        border-radius: 20px;
        font-size: 9px; /* Increase the font size */
        cursor: pointer;
        text-align: center;
        padding: 5px 20px;
        transition: background-color 0.3s, color 0.3s;
        animation: zoomIn 1s infinite; /* Apply the zoomIn animation */
    }
    
    
    .top-button:nth-child(1) {
        left: 8%;
    }
    
    .top-button:nth-child(2) {
        left: 38%;
    }
    
    .top-button:nth-child(3) {
        left: 68%;
    }
    
    .top-button:hover {
        box-shadow: 0 0 20px rgba(220, 100, 100, 0.8); /* Glow effect on hover */
        animation: none; /* Disable the animation on hover */
    }
    }
    
    